<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atmko.skiptoit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".SkipToItApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.atmko.skiptoit.MasterActivity"
            android:label="@string/title_activity_master"
            android:launchMode="singleTop"
            android:theme="@style/splashScreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.atmko.skiptoit.launch.LaunchActivity"
            android:label="@string/title_activity_launch"
            android:launchMode="singleTop" />

        <service android:name="com.atmko.skiptoit.services.PlaybackService">

            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>

        </service>

        <receiver android:name=".services.BecomingNoisyReceiver" />

    </application>

</manifest>